@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Orelega+One&display=swap');
@import url(components/header.css);
@import url(components/languages.css);
@import url(components/projects.css);

body {
  font-family: 'Lora', serif;
  font-size: 18px;
}

h1, h2, h4 {
  font-family: 'Orelega One', cursive;
}

.page {
  padding: 20px;
  background: linear-gradient(#e66465, #9198e5);
}

.page-body{
  padding: 20px;
  background-color: #90aeff;
  display: flex;
  justify-content: space-around;
}

footer {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-style: italic;
  padding: 20px;
  background-color: #98ded3;
  text-align: center;
}



