.page-header {
  padding: 10px;
  background-color: #eccfd1;
}

.page-header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 250px;
}

.page-header-top h1{
  color: #343b99;
}

.page-header-top h1:hover{
  color: #f67280;
}

.page-header-top img {
  border-radius: 5px;
}

.page-header-bottom{
  display: flex;
  justify-content: center;
  padding: 30px 250px;
}

#my-project-intro{
  color: #e66465;
}
