#intro{
  height: 100%;
  width: 100%;
  padding-top: 200px;
  background: linear-gradient(#e66465, #9198e5);
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

#intro img{
  height: 220px;
  border-radius: 100px;
  border: 2px solid #e66465;
  position: relative;
}

#intro img:hover{
  cursor: pointer;
}

#intro h1{
  display: block;
  padding-top: 20px;
}

#intro h1:hover{
  color: #eccfd1;
}

#intro h6{
  padding-bottom: 20px;
}

.typewriter h1, h6{
  overflow: hidden;
  border-right: .08em solid #e66465; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .08em; /* Adjust as needed */
  animation:
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 25% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  80% { border-color: #e66465; }
}

#intro p{
  color: white;
  font-style: italic;
  position: absolute;
  right: 10%;
  top: 20%;
}

#robot{
  font-style: normal;
}
